@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040810;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #040810;
}
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 2px;
}
